# Slicing

Extract a sublist using colon (:) syntax

In [43]:
Animal = ["Tiger","Dog", "Cat", "Cow","Cheeta"]
first_two = Animal[0:2]  # first_two will contain ["Cat","Cow"]
everything_except_last = Animal[:-1]  # everything_except_last will contain ["Cheeta", "Tiger"]
animal = Animal[::-1]  # Animal will contain a reversed copy of the list

print(Animal)
print(first_two)
print(everything_except_last)
print(animal)

['Tiger', 'Dog', 'Cat', 'Cow', 'Cheeta']
['Tiger', 'Dog']
['Tiger', 'Dog', 'Cat', 'Cow']
['Cheeta', 'Cow', 'Cat', 'Dog', 'Tiger']

# Accessing Elements:

Use zero-based indexing to access elements:

In [41]:
my_list = ["Tiger","Dog", "Cat", "Cow","Cheeta"]
animal_animal = my_list[0]# animal_animal will contain "Cat"
animal_animal1 = my_list[3] 
last_animal = my_list[-1]  # last_animal will contain "Tiger" (negative indexing)

In [42]:
print(my_list)
print(animal_animal)
print(animal_animal1)

print(last_animal)

['Tiger', 'Dog', 'Cat', 'Cow', 'Cheeta']
Tiger
Cow
Cheeta

# append function

Add an element to the end of list .

In [38]:
my_list = ["Tiger","Dog", "Cat", "Cow","Cheeta"]
my_list

['Tiger', 'Dog', 'Cat', 'Cow', 'Cheeta']

In [39]:
my_list.append("Lion")  # Add "Lion" to the end

In [40]:
my_list

['Tiger', 'Dog', 'Cat', 'Cow', 'Cheeta', 'Lion']

# insert function

 Insert an element at a specific index.

In [33]:
my_list = ["Tiger","Dog", "Cat", "Cow","Cheeta"]
my_list

['Tiger', 'Dog', 'Cat', 'Cow', 'Cheeta']

In [36]:
my_list.insert(1, "Elephant")  # Insert "Lion" at index 1

In [37]:
my_list

['Tiger', 'Elephant', 'Lion', 'Dog', 'Cat', 'Cow', 'Cheeta']

# extend function

Add all elements from an iterable

In [30]:
my_list = ["Tiger","Dog", "Cat", "Cow","Cheeta"]
my_list

['Tiger', 'Dog', 'Cat', 'Cow', 'Cheeta']

In [31]:
my_list.extend(["Lion", "Elephent"])  # Add all elements from a list

In [32]:
my_list

['Tiger', 'Dog', 'Cat', 'Cow', 'Cheeta', 'Lion', 'Elephent']

# remove function

The remove function method removes a given element from the list.

In [27]:
my_list = ["Tiger","Dog", "Cat", "Cow","Cheeta"]
my_list

['Tiger', 'Dog', 'Cat', 'Cow', 'Cheeta']

In [28]:
my_list.remove("Cat")  # Remove the  "Cat"

In [29]:
my_list

['Tiger', 'Dog', 'Cow', 'Cheeta']

# pop function

Pop function removes element at a specific index from the list.

In [24]:
my_list = ["Tiger","Dog", "Cat", "Cow","Cheeta"]
my_list

['Tiger', 'Dog', 'Cat', 'Cow', 'Cheeta']

In [25]:
removed_animal = my_list.pop(2)  # Remove and return the element at index 2

In [26]:
my_list

['Tiger', 'Dog', 'Cow', 'Cheeta']

# clear function

Clear function method removes all items from the list making it an empty list.

In [21]:
my_list = ["Tiger","Dog", "Cat", "Cow","Cheeta"]
my_list

['Tiger', 'Dog', 'Cat', 'Cow', 'Cheeta']

In [22]:
my_list.clear()

In [23]:
my_list

[]

# count function

This function method returns the count of the occurrences of a given element in a list.

In [18]:
my_list = ["Tiger","Dog", "Cat", "Cow","Cheeta"]
my_list

['Tiger', 'Dog', 'Cat', 'Cow', 'Cheeta']

In [19]:
my_list.count("Dog")

1

In [20]:
my_list.count("Cat")

1

# sort function

Sort the list in ascending order (in-place)

In [15]:
my_list = ["Tiger","Dog", "Cat", "Cow","Cheeta"]
my_list

['Tiger', 'Dog', 'Cat', 'Cow', 'Cheeta']

In [16]:
my_list.sort()  # Sort in ascending order (in-place)

In [17]:
my_list

['Cat', 'Cheeta', 'Cow', 'Dog', 'Tiger']

In [14]:
num = [11,12,5,35,18,23,15,11,12,5,35,73,27,38]
num

[11, 12, 5, 35, 18, 23, 15, 11, 12, 5, 35, 73, 27, 38]

In [9]:
num.sort()

In [10]:
num

[5, 5, 11, 11, 12, 12, 15, 18, 23, 27, 35, 35, 38, 73]

# reverse function

Reverse the order of elements

In [5]:
num = [45,25,7,9,18,23,11,12,5,35,73,27,38,48,123,73]
num

[45, 25, 7, 9, 18, 23, 11, 12, 5, 35, 73, 27, 38, 48, 123, 73]

In [6]:
num.reverse()  # Reverse the order

In [7]:
num

[73, 123, 48, 38, 27, 73, 35, 5, 12, 11, 23, 18, 9, 7, 25, 45]

# min function

Min function returns the smallest element.

In [3]:
num = [20,15,45,25,7,9,18,23,20,83,783,83,28,498,]
num

[20, 15, 45, 25, 7, 9, 18, 23, 20, 83, 783, 83, 28, 498]

In [4]:
min(num)

7

# max function

Max function return the largest element.

In [1]:
num = [20,83,783,83,28,498,29,27,346,378,47,37,38,48,39]
num

[20, 83, 783, 83, 28, 498, 29, 27, 346, 378, 47, 37, 38, 48, 39]

In [2]:
max(num)

783