# Indexing

Access individual elements of a tuple using square brackets []

In [1]:
my_tuple = (1, 2, 3, 4, 5,6,7,8,9,10)
my_tuple

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

In [2]:
print(my_tuple[0])

1

# Slicing

Extract a subset of elements from a tuple.

In [3]:
my_tuple = (1, 2, 3, 4, 5,6,7,8,9,10)
my_tuple

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

In [5]:
print(my_tuple[1:6])

(2, 3, 4, 5, 6)

# Length

Get the number of elements in a tuple using the len() function.

In [6]:
my_tuple = (1, 2, 3, 4, 5,6,7,8,9,10)
my_tuple

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

In [7]:
print(len(my_tuple))

10

# Concatenation

Concatenate two tuples using the + operator.

In [8]:
tuple1 = (1,2,3,4,5)
tuple2 = (6,7,8,9,10)
concatenated_tuple = tuple1 + tuple2
print(concatenated_tuple)  # Output: (1, 2, 3, 4, 5, 6)

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

# Repetition

Repeat a tuple for a given number of times using the * operator.

In [9]:
my_tuple = (1,2,3,4,5,6,7,8,9,10)
my_tuple

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

In [11]:
repeated_tuple = my_tuple * 4
print(repeated_tuple)

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

# Count

Count the occurrences of a specific element in a tuple using the count() method.

In [12]:
my_tuple = (1,2,3,4,5,6,7,8,9,10)
my_tuple

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

In [13]:
print(my_tuple.count(3))

1

# SORTED

this method takes a tuple as an input and returns a sorted list as an output

In [14]:
my_tuple = (1,2,3,4,5,6,7,8,9,10,22,35,56,90,100)
my_tuple

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 22, 35, 56, 90, 100)

In [15]:
my_tuple1 = sorted(my_tuple)

In [16]:
my_tuple1

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 22, 35, 56, 90, 100]